input {
  width: 350px;
  height: 50px;
}

.text{
  font-family: Avenir-Heavy, sans-serif;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
}

.session-logo {
  justify-content: center;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.input-fields{
   .text-input {
    margin-top: 25px;
    backdrop-filter: blur(50px);
    background-color: rgb(49, 52, 62);
    caret-color: rgb(2, 231, 245);
    color: rgb(249, 249, 249);
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 48px;
    letter-spacing: normal;
    line-height: 1.53;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
    outline: none;
    padding: 7px 12px;
    transition: all 0.1s ease 0s;
  }
}

input.session-submit{
  background-color: #0072D2;
  width: 100%;
  margin-top: 25px;
 padding: 10px;
}

.reroute-message {
  color: #cacaca
}

.subscribe-button{
  font-family: Avenir-Roman, sans-serif;
  font-size: 18px;
}