.splash-container {
  background-image: image_url('background-img.jpeg');
  background-size: cover;
  height: calc(100vh - 30px);
  background-repeat: no-repeat;
}

.signup-content{
  transition: width .2s ease;
  margin: auto;
  width: 100%;
  margin-left: 50px;
  width: 600px;
}

.logo{
  padding-left: 110px;
}

button.btn-primary{
  color: rgb(249, 249, 249);
  font-size: 15px;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: Avenir-Heavy, sans-serif;
  font-stretch: normal;
  font-style: normal;
  height: 48px;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
  text-align: center;
  width: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  visibility: visible;
  background: rgb(0, 114, 210);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  padding: 15px 24px;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  width: inherit;
  height: inherit;
}


.subscribe-button{
  background-color: transparent;
  color: rgb(202, 202, 202);
  cursor: pointer;
  display: inline;
  font-size: Avenir-Roman;
  text-transform: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  text-decoration: underline;
  padding-left: 70px;
  padding-top: 15px;
}

.login-content {
  margin: 30px;
}

button.login-button {
  background-color: rgba(0, 0, 0, 0.6);
  font-family: Avenir-Heavy, sans-serif;
  margin: 5px;
}