@import "variables";


.app-background {
  background-color: rgb(26, 29, 41);
  position: fixed;
  height: 100vh;
  top: 0px;
  width: 100%;
  z-index: -3;
  transition: opacity 200ms ease 0s;
}
.app-container {
  padding: 0 calc(3.5vw + 24px);
  overflow: hidden;
}
body, html {
  margin: 0;
  padding: 0;
  color: white;
  font-family: $font-family;
}

a {
  color: white;
  text-decoration: none;
}


*:focus {
    outline: 0;
}