@import 'variables';

.video-container{ 
    // position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    z-index: -1;
    height: 75vh;
    margin-bottom: 20px;

  .featured-video{
    height: 75vh;
    margin: 0 calc((3.5vw + 24px) * -1);
    z-index: -2;
    position: relative;
    overflow: hidden;
    opacity: .6;
  
    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.video-buttons-container{
  top:0;

  .video-buttons{
    z-index: 1; 
    position: absolute;
    cursor: pointer;
    top:50vh;
    bottom:50vh;
    left: 50px;
    // right:0;
    display: flex;
    align-items: center;
    height: 100px;
   
  
    .play {
      left: 5px;
    }

    .unmuted{
      background-image: image_url('volume.png');
      // padding: 3px 30px;
      width: 30px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 3px;
    }

    .muted{
      background-image: image_url('mute.png');
      width: 30px;
      height: 34px;
      // padding: 3px 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 3px;
    }
    .volume:hover {
      background-color: black;
    }

  }
  .video-title{
    font-family: $font-family-heavy;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    // cursor: pointer;
    top: 30vh;
    bottom: 50vh;
    left: 45px;
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 100px;
    text-shadow: 3px 3px black;


  }

  .video-description{
    font-family: $font-family-heavy;
    background-color: transparent;
    font-style: italic;
    z-index: 1;
    position: absolute;
    top: 40vh;
    width: 40vw;
    bottom: 50vh;
    left: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100px;
    text-shadow: 3px 1px black;
  }
}


.video-links-container{
  .tag-buttons {
    display: flex;
    justify-content: space-between;

    .tag-button {
      box-sizing: border-box;
      object-fit: cover;
      width: 17%;
      backface-visibility: hidden;
      box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform: scale(1, 1) translateZ(0px);
      transition-duration: 300ms;
      transition-property: transform, box-shadow;
      transition-timing-function: ease-out;
      -webkit-font-smoothing: subpixel-antialiased;
      border-radius: 10px;
      border-width: 4px;
      border-style: solid;
      border-color: rgba(249, 249, 249, 0.1);
      border-image: initial;
      background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)) 0% 0% / cover;
      background-image: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));

      video {
        width: 100%;
        height:100%;
      }

      img {
        position: fixed;
      }

      .hover-image {
        visibility: hidden;
      }

      &:hover {
        .hover-image {
        visibility: visible;
        }
      }


      .image {
        width: 75%

      }
      
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px, rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
        transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
        transition-duration: 300ms;
        transition-property: transform, box-shadow;
        transition-timing-function: ease-out;
        border-width: 4px;
        border-style: solid;
        border-color: rgba(249, 249, 249, 0.8);
        border-image: initial;
      }
    }
  }

  .tags-container {
    padding: 20px 0;
  }
}