@import 'variables';

.explore-header{
  font-size: 44px;
  cursor: inherit;
  font-family: $font-family-heavy;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.23;
      padding: 65px 0px 0px;
}

.search-form {
  color: rgb(249, 249, 249);
  font-family: Avenir-Heavy;
  font-size: 24px;
  height: 60px;
  letter-spacing: 1.17px;
  padding-left: calc(3.5vw + 24px);
  position: fixed;
  text-align: left;
  left: 0px;
  width: 100vw;
  z-index: 6;
  background: rgb(75, 78, 90);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}