// $secondary:#FFFFFF;
// $secondary: transparent;

$primary: #0072D2;
$primary-hover: #068dff;
$body-color: white;
$link-hover-color: #94D0FF;
$font-family: Avenir-Roman, sans-serif;
$font-family-heavy: Avenir-Heavy, sans-serif;